@tailwind base;
@tailwind components;
@tailwind utilities;


#noresponse,
#pending,
#responded{
    border: 1px solid black;

}

/* #departure-date{
    border: 1px solid black !important;
    padding: 5px;
    margin: 5px;
    color: red;
} */


